<h1>Todo List</h1>

<ul class="card">
  <li>
    <input type="checkbox" name=""/>
    <a href="show/1">Make the curriculum</a>
    <span class="pomodoro-estimate">4 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    <a href="show/2">Buy workshop supplies</a>
    <span class="pomodoro-estimate">3 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    <a href="show/3">Meet with the volunteer trainers</a>
    <span class="pomodoro-estimate">2 Pomodoros</span>
  </li>
  </ul>

